#title
{
	background-color: #043984;text-anchor: center;
}
#title1,#title2
{
	color: white;
    font-family: trebuchet ms ;text-align: center;
}

#input
{
	background-color: #56c452;text-align: center;
}
